<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqExercices.Properties.Settings.test1ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=test1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LinqExercices.Properties.Settings.UniversityDB1ConnectionString"
            connectionString="Data Source=DESKTOP-7J9ODH9\SQLEXPRESS;Initial Catalog=UniversityDB1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>